## 1. Introduction
A **tuple** is an ordered, immutable collection of items. Once created, it cannot be changed.

### Key Characteristics
- **Ordered**: Items have a specific order (index).
- **Immutable**: Cannot add, remove, or change items after creation.
- **Allows duplicates**: Can store repeated values.
- **Mixed types**: Can contain any data types.

### Why Use Tuples?
- **Data integrity**: Prevents accidental modification.
- **Performance**: Faster than lists for read-only operations.
- **Dictionary keys**: Can use tuples as keys (lists cannot).
- **Return multiple values**: Functions often return tuples.

### Real-Life Examples
- **Coordinates**: (latitude, longitude, altitude)
- **Database rows**: (name, age, email, phone)
- **Fixed data**: Days of week, months in year
- **Configuration**: (server, port, timeout)

## 2. Creating Tuples

### Empty Tuple

In [ ]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

### Tuple with Integers

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(numbers)

### Tuple with Strings

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)

### Mixed Data Types

In [ ]:
mixed = (10, "hello", 3.5, True, None)
print(mixed)

### Tuple Without Parentheses (Packing)

In [ ]:
t = 1, 2, 3  # Parentheses are optional
print(t)
print(type(t))

### Single-Element Tuple
**Important**: Use a trailing comma for single-element tuples

In [ ]:
single = (5,)  # With comma
print(single)
print(type(single))

not_tuple = (5)  # Without comma (just int)
print(not_tuple)
print(type(not_tuple))

### Nested Tuples

In [ ]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested)

## 3. Accessing Tuple Elements

### Positive Indexing

In [ ]:
fruits = ("apple", "banana", "cherry", "date")
print(fruits[0])  # First element
print(fruits[2])  # Third element
print(fruits[3])  # Last element

### Negative Indexing

In [ ]:
print(fruits[-1])  # Last element
print(fruits[-2])  # Second to last
print(fruits[-4])  # First element

### Slicing

In [ ]:
print(fruits[1:3])  # Elements from index 1 to 2
print(fruits[:2])  # First 2 elements
print(fruits[2:])  # From index 2 to end
print(fruits[::2])  # Every 2nd element
print(fruits[::-1])  # Reverse

## 4. Tuple Immutability
Tuples cannot be modified after creation. This is their key feature.

### Try to Modify (Will Error)

In [ ]:
t = (1, 2, 3)
try:
    t[0] = 10  # This will raise TypeError
except TypeError as e:
    print(f"Error: {e}")

In [ ]:
t = (1, 2, 3)
try:
    t.append(4)  # Tuples don't have append method
except AttributeError as e:
    print(f"Error: {e}")

### Workaround: Convert to List, Modify, Convert Back

In [ ]:
t = (1, 2, 3)
print(f"Original tuple: {t}")

# Convert to list
temp_list = list(t)
temp_list[0] = 10  # Modify

# Convert back to tuple
t = tuple(temp_list)
print(f"Modified tuple: {t}")

## 5. Tuple Operations

### Concatenation
Combine tuples with `+`

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
combined = t1 + t2
print(combined)

### Repetition
Repeat tuple with `*`

In [ ]:
t = (1, 2)
repeated = t * 3
print(repeated)

### Membership
Check if item exists in tuple

In [ ]:
colors = ("red", "green", "blue")
print("red" in colors)  # True
print("yellow" not in colors)  # True

### Length
Get number of elements

In [ ]:
t = (10, 20, 30, 40)
print(f"Length: {len(t)}")

## 6. Tuple Methods
Tuples have only 2 methods (immutability limits available methods).

### count()
Count occurrences of an item

In [ ]:
t = (1, 2, 2, 3, 2, 4)
count = t.count(2)
print(f"2 appears {count} times")

### index()
Find the index of an item

In [ ]:
fruits = ("apple", "banana", "cherry")
index = fruits.index("banana")
print(f"'banana' is at index {index}")

## 7. Looping Through Tuples

### Using for Loop

In [ ]:
fruits = ("apple", "banana", "cherry")
for fruit in fruits:
    print(fruit)

### Using enumerate()
Get both index and value

In [ ]:
colors = ("red", "green", "blue")
for index, color in enumerate(colors):
    print(f"{index}: {color}")

## 8. Useful Tuple Use Cases

### Storing Fixed Data

In [ ]:
DAYS_OF_WEEK = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
MONTHS = ("January", "February", "March", "April", "May", "June", 
          "July", "August", "September", "October", "November", "December")

print(f"Day 0: {DAYS_OF_WEEK[0]}")
print(f"Month 0: {MONTHS[0]}")

### Returning Multiple Values from Function

In [ ]:
def get_person_info(name):
    """Return person's info as a tuple"""
    age = 25
    city = "New York"
    return name, age, city  # Returns a tuple

result = get_person_info("Alice")
print(result)
print(type(result))

### Tuple Unpacking
Assign tuple elements to separate variables

In [ ]:
# Unpack from function return
name, age, city = get_person_info("Bob")
print(f"Name: {name}")
print(f"Age: {age}")
print(f"City: {city}")

In [ ]:
# Unpack from tuple
coordinates = (10, 20, 30)
x, y, z = coordinates
print(f"x={x}, y={y}, z={z}")

In [ ]:
# Swap variables using tuple unpacking
a, b = 5, 10
print(f"Before: a={a}, b={b}")
a, b = b, a  # Swap
print(f"After: a={a}, b={b}")

### Tuples as Dictionary Keys

In [ ]:
# Tuples can be used as dictionary keys
locations = {}
locations[(40.7128, -74.0060)] = "New York"
locations[(34.0522, -118.2437)] = "Los Angeles"
locations[(41.8781, -87.6298)] = "Chicago"

print(locations)
print(f"Location at (40.7128, -74.0060): {locations[(40.7128, -74.0060)]}")

## 9. Tuple vs List Comparison

| Feature | Tuple | List |
|---------|-------|------|
| Mutable | No (immutable) | Yes (mutable) |
| Syntax | `(1, 2, 3)` | `[1, 2, 3]` |
| Speed | Faster | Slower |
| Memory | Less | More |
| Dictionary Key | Can be key | Cannot be key |
| Methods | count, index | Many (append, insert, etc.) |
| Use Case | Fixed data, protection | Dynamic data, modification |

### When to Use Tuples
- Data should not change (e.g., coordinates, configuration)
- Use as dictionary keys
- Return multiple values from function
- Slightly better performance needed

### When to Use Lists
- Data needs to change (add/remove/modify)
- Need flexibility
- Need many methods (sort, reverse, etc.)

## 10. Nested Tuples

In [ ]:
coordinates = ((1, 2), (3, 4), (5, 6))
print(coordinates[0])  # First tuple
print(coordinates[1][1])  # Second tuple, second element
print(coordinates[2][0])  # Third tuple, first element

### Loop Through Nested Tuples

## 11. Practice Exercises

### Exercise 1: Sum of 10 Numbers
Create a tuple of 10 numbers and print the sum.

In [ ]:
# Your code here

### Exercise 2: Find Index
Find the index of a given element in a tuple.

In [ ]:
# Your code here

### Exercise 3: Count Occurrences
Count how many times a value appears in a tuple.

In [ ]:
# Your code here

### Exercise 4: Min and Max
Write a program that returns min & max from a tuple.

In [ ]:
# Your code here

### Exercise 5: List to Tuple and Vice Versa
Convert a list to tuple and tuple to list.

### Exercise 6: Tuple Unpacking
Unpack a tuple into separate variables.

### Exercise 7: Nested Tuple Access
Create a nested tuple and access inner values.

## 12. Mini Project: Student Data Program

In [ ]:
# Student Data Program using Tuples
# Store students as (name, age, grade)

students = [
    ("Alice", 20, "A"),
    ("Bob", 19, "B"),
    ("Charlie", 21, "A"),
    ("Diana", 20, "B+"),
    ("Eve", 19, "A")
]

def print_all_students():
    """Print all students"""
    print("\n--- All Students ---")
    for i, student in enumerate(students, 1):
        name, age, grade = student
        print(f"{i}. {name} (Age: {age}, Grade: {grade})")

def search_student(name):
    """Search a student by name"""
    for student in students:
        if student[0].lower() == name.lower():
            name, age, grade = student
            print(f"\nFound: {name} (Age: {age}, Grade: {grade})")
            return student
    print(f"\nStudent '{name}' not found.")
    return None

def get_top_students():
    """Get students with grade A"""
    print("\n--- Top Students (Grade A) ---")
    top = [s for s in students if s[2] == "A"]
    for student in top:
        name, age, grade = student
        print(f"{name} (Age: {age})")
    return top

def get_average_age():
    """Calculate average age of students"""
    total_age = sum(s[1] for s in students)
    avg_age = total_age / len(students)
    print(f"\nAverage Age: {avg_age:.2f}")
    return avg_age

def student_menu():
    """Display menu and manage students"""
    while True:
        print("\n--- Student Data Manager ---")
        print("1. View All Students")
        print("2. Search Student")
        print("3. View Top Students (Grade A)")
        print("4. Average Age")
        print("5. Exit")
        
        choice = input("\nEnter choice (1-5): ")
        
        if choice == "1":
            print_all_students()
        elif choice == "2":
            name = input("Enter student name: ")
            search_student(name)
        elif choice == "3":
            get_top_students()
        elif choice == "4":
            get_average_age()
        elif choice == "5":
            print("Goodbye!")
            break
        else:
            print("Invalid choice. Try again.")

# Uncomment to run the student data manager
# student_menu()

# Demo
print("=== Student Data Program Demo ===")
print_all_students()
search_student("Alice")
get_top_students()
get_average_age()

## 13. Day 7 Summary
### What You Learned Today
- **Tuples basics**: Creating empty, single-element, mixed-type, and nested tuples.
- **Immutability**: Tuples cannot be changed; workarounds involve converting to list.
- **Indexing & slicing**: Accessing elements just like lists.
- **Tuple operations**: Concatenation, repetition, membership checks.
- **Tuple methods**: count() and index() (limited compared to lists).
- **Looping**: for loop and enumerate().
- **Tuple unpacking**: Assigning tuple elements to separate variables.
- **Use cases**: Fixed data, dictionary keys, returning multiple values.
- **Comparison**: Tuples vs lists (immutability, performance, use cases).

### Why Tuples Matter
Tuples provide data integrity through immutability. They're essential for:
- Protecting data from accidental modification
- Using as dictionary keys
- Returning multiple values cleanly from functions
- Storing fixed configuration data

### What's Next: Day 8
**Sets in Python** â€” Learn about unordered, unique collections. Sets are perfect for removing duplicates, membership testing, and performing mathematical operations like union and intersection.